.body{
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: url('../pages/space1 image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}
